{% if values.postgresBoilerplate %}
package com.zwift.persistence.{{ values.name | lower | replace("-", "") }};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

@Repository
public interface UserRepository extends JpaRepository<User, Long> {
}
{% endif %}
